{% extends 'default.html' %}
{% block content %}
<style>
   .leftout {
    width: 95rem;
    padding: 10px;
    margin-left: 10%; /
   }
</style>
<div class="leftout">
  <div class="card" style="width: 40rem;">
    <div class="card-header">
      Рассылка
    </div>
    <form action="" method="post">
        {% csrf_token %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ form.as_p }}</li>
      <li class="list-group-item"><button class="btn btn-lg btn-success" type="submit">Разослать</button></li>
    </ul>
    </form>
  </div>
</div>
{% endblock content %}